{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}
    
    <div class="row">
    {% for child in page.collection() %}
        {% include 'partials/thumbnail.html.twig' with {'page':child} %}
    {% endfor %}
    </div>
    
{% endblock %}
